:root {
  --height: 550px;
}
header {
  height: var(--height);
  width: 100%;
  display: flex;
  position: relative;
  transition: all 0.6s linear;
}

header .slider--container {
  width: 100%;
  height: var(--height);
  position: relative;
  overflow: hidden;
}

header .slider--container .slide {
  white-space: nowrap;
  position: absolute;
  left: -101%;
  top: 0;
  width: max-content;
  height: var(--height);
  /* background: red; */
}
.shifting {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slide img {
  /* display: flex; */
  width: 100vw;
  height: var(--height);
  object-fit: cover;
  object-position: center 30%;
}

@media Screen and (max-width: 800px) {
  header .slider--container .slide {
    left: -100%;
  }
}

@media Screen and (min-width: 800px) {
  header .slider--container .slide {
    left: -103%;
  }
}

@media Screen and (min-width: 1200px) {
  header .slider--container .slide {
    left: -102%;
  }
}
