header {
  height: 480px;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: top;
  /* background-size: 100vw 100%; */
  background-size: cover;
  transition: all 0.6s linear;
}
