:root {
  --trailer-height: 600px;
}
.trailer--wrapper {
  position: relative;
  height: var(--trailer-height);
  width: 100%;
  overflow: hidden;
  transition: all 0.5s linear;
  margin: 5rem 0;
}

.trailer--container {
  display: flex;
  position: absolute;
  top: 0;
  left: -100vw;
  width: max-content;
  height: var(--trailer-height);
}
.sliding {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.trailer--container .trailer {
  width: 100vw;
  height: var(--trailer-height);
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
}

.trailer--item {
  display: flex;
  position: relative;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  height: var(--trailer-height);
  gap: 2.5rem;
  width: fit-content;
  padding: 3rem;
  color: #fff;
  font-family: var(--font-Montserrat);
  z-index: 444;
}

.trailer--item > h3 {
  font-size: calc(17px + 2vw);
  width: 8ch;
}

.trailer--item > p {
  min-width: 300px;
  width: 35%;
  max-width: 450px;
  line-height: 1.5;
}

.trailer--item .btn--container {
  display: flex;
  gap: 1rem;
}

.btn--container > button {
  outline: none;
  padding: 8px 10px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s linear;
}
.btn--container > button > i {
  margin-right: 7px;
}

.btn--play {
  background: red;
  border: 1px solid transparent;
}
.btn--save {
  background: transparent;
  border: 1px solid #ccc;
}

@media (hover: hover) {
  .btn--container > button {
    cursor: pointer;
  }
  .btn--play:hover {
    background: purple;
  }
  .btn--save:hover {
    color: #000;
    background: #fff;
    border: 1px solid #fff;
  }
}

@media only Screen and (max-width: 600px) {
  .trailer--item {
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    justify-content: center;
  }
  .trailer--item > h3 {
    width: 100%;
  }
  .trailer--item > p {
    font-size: 0.9rem;
  }
}
